/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.6;
}

/* Header Transparente */
header {
  position: fixed;
  /* Fixa o header no topo da página */
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3);
  /* Transparência inicial */
  transition: background-color 0.3s ease;
  /* Transição para o efeito de rolagem */
  color: #fff;
}

header .logo img {
  height: 40px;
  /* Ajuste o tamanho conforme necessário */
  width: auto;
  /* Mantém a proporção da imagem */
  display: inline-block;
  vertical-align: middle;
  border-radius: 20px;
}

/* Cor sólida ao rolar */
header.scrolled {
  background-color: rgba(0, 0, 0, 0.8);
  /* Cor sólida para melhor visibilidade ao rolar */
}

/* Ajuste das cores dos links no header para contraste com o fundo */
header .logo,
.navbar a {
  color: #fff;
  font-size: large;
  text-decoration: none;
}

.navbar {
  display: flex;
  gap: 60px;
  align-items: center;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
  font-size: medium;
}

#menu-btn {
  font-size: 2em;
  cursor: pointer;
  display: none;
}

/* .intro Section */
.intro {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-image: url('../img/fundo.webp');
  background-size: cover;
  background-position: center;
  color: white;
  padding: 0 20px;
}

.intro::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  /* Sobreposição escura */
}

.intro h2 {
  position: relative;
  max-width: 40%;
  margin-left: 5%;
  z-index: 1;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: rgb(42, 42, 42);
}

/* Seções principais */
.symptoms,
.cta,
.about,
.burnout {
  padding: 20px;
  margin: 20px auto;
  max-width: 60%;
  /* Garante que as seções ocupem toda a largura disponível */
}

.symptoms ul {
  list-style-type: disc;
  margin-left: 20px;
}

.button {
  display: inline-block;
  background-color: #165265;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.button:hover {
  background-color: #165265;
}

/* Footer */
footer {
  text-align: center;
  padding: 10px;
  background-color: #f1f1f1;
  color: #333;
}

/* Menu responsivo */
@media (max-width: 768px) {
  #menu-btn {
    display: block;
  }

  /* Seções principais */
  .symptoms,
  .cta,
  .about,
  .burnout {
    padding: 20px;
    margin: 20px auto;
    max-width: 100%;
    /* Garante que as seções ocupem toda a largura disponível */
  }

  .navbar {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: #165265;
    border-radius: 5px;
    width: 90%;
    /* Ocupa 90% da largura da tela */
    max-width: 300px;
    /* Limita a largura máxima a 300px */
  }

  .navbar a {
    padding: 15px;
    text-align: center;
    font-size: 1.2em;
    /* Aumenta o tamanho da fonte para legibilidade */
  }

  .navbar.active {
    display: flex;
  }

  .intro {
    background-attachment: scroll;
    /* Remove o efeito de paralaxe para melhorar a performance em mobile */
    padding: 20px 10px;
    /* Ajuste de padding para melhor espaçamento em telas menores */
  }

  .intro h2 {
    max-width: 90%;
    /* Ajusta para o texto ocupar mais espaço em largura */
    font-size: 1.4em;
    /* Ajusta o tamanho da fonte */
    line-height: 1.4;
    /* Melhora a legibilidade com maior espaçamento entre linhas */
  }

  .symptoms ul {
    margin-left: 10px;
    /* Reduz a margem para se alinhar melhor em telas pequenas */
    font-size: 1em;
    /* Ajusta o tamanho da fonte para melhor legibilidade */
  }

  .symptoms li {
    margin-bottom: 8px;
    /* Espaçamento entre itens da lista para uma aparência mais organizada */
  }

  .cta h2 {
    font-size: 1.6em;
    /* Ajusta o tamanho do título */
    text-align: center;
    margin-bottom: 10px;
  }

  .cta p {
    font-size: 1em;
    text-align: center;
    margin-bottom: 15px;
    padding: 0 10px;
    /* Adiciona padding para melhor alinhamento */
  }

  .button {
    text-align: center;
    display: block;
    width: 80%;
    /* Ajusta a largura do botão para 90% do container */
    margin: 0 auto;
    /* Centraliza o botão */
    padding: 12px 15px;
    /* Aumenta o padding para facilitar o clique */
    font-size: 1.2em;
    /* Tamanho de fonte maior para botões */
  }

  footer {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.8em;
    /* Ajusta o tamanho da fonte para footer */
  }

  footer p {
    margin: 5px 0;
    /* Reduz a margem para economizar espaço */
    line-height: 1.3;
    /* Aumenta o espaçamento entre linhas */
  }
}